<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mq_showSeparatorLine</key>
	<false/>
	<key>mq_isTranslucent</key>
	<false/>
	<key>mq_backgroundColor</key>
	<string>#ffffff</string>
	<key>mq_titleNormalColor</key>
	<string>#c9d4da</string>
	<key>mq_titleSelectedColor</key>
	<string>#5252dd</string>
	<key>mq_customTitleFont</key>
	<false/>
	<key>mq_customTitleFontName</key>
	<string>Snell Roundhand</string>
	<key>mq_customTitleFontSize</key>
	<dict>
		<key>4_0</key>
		<integer>10</integer>
		<key>4_7</key>
		<integer>12</integer>
		<key>5_5</key>
		<integer>12</integer>
	</dict>
	<key>mq_barItems</key>
	<array>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-1</string>
			<key>selectedImage</key>
			<string>tab-1-a</string>
			<key>title</key>
			<string>首页</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-2</string>
			<key>selectedImage</key>
			<string>tab-2-a</string>
			<key>title</key>
			<string>分类</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-5</string>
			<key>selectedImage</key>
			<string>tab-5-a</string>
			<key>title</key>
			<string>定位</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<true/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-3</string>
			<key>selectedImage</key>
			<string>tab-3-a</string>
			<key>title</key>
			<string>购物车</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-4</string>
			<key>selectedImage</key>
			<string>tab-4-a</string>
			<key>title</key>
			<string>我的</string>
		</dict>
	</array>
</dict>
</plist>
